.banner {
  background-image: url('../../assets/clientlib-common/images/flashlight.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .banner-card {
    background: none;
    border: none;
    font-family: 'Roboto Slab';
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    line-height: 21.87px;

    @media screen and (min-width: $md) {
      font-size: 18px;
    }

    @media screen and (min-width: $lg) {
      font-size: 21px;
    }
  }

  h1 {
    font-family: 'Ailerons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      font-size: 45px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: $lg) {
      font-size: 60px;
      margin-bottom: 62px;
    }
  }

  h3 {
    font-size: 18px;

    @media screen and (min-width: $md) {
      font-size: 21px;
    }

    @media screen and (min-width: $lg) {
      font-size: 23px;
    }
  }
}