header {
    padding: 11px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto Slab';
    transition: all 1s ease;

    .logo {
        width: auto;
        height: 30px;
    }

    &.style-mobile {
        background-color: white;

        .navbar {
            .navbar-toggler {
                padding: 0;

                i {
                    color: red;
                }
            }
        }
    }

    &.style-scrolled {
        .navbar {
            .navbar-toggler {
                padding: 0;

                i {
                    color: red;
                }
            }
        }

        .menu-desktop {
            ul li a {
                color: red;
            }

        }
    }

    .navbar {
        margin-right: 0;
        padding: 0;

        .navbar-toggler {
            padding: 0;

            i {
                color: white;
                font-size: 30px;
            }
        }
    }

    .menu-mobile {

        &.collapsing,
        &.show {
            text-align: center;
        }

        ul li a {
            font-size: 18px;
            color: red;

        }
    }

    .menu-desktop {
        ul li a {
            font-size: 18px;
            color: white;

            &:hover {
                color: red;
            }
        }
    }
}