.milestones {
    padding-top: 100px;
    margin-bottom: 50px;
    text-align: center;

    @media screen and (min-width: $md) {
        margin-bottom: 100px;
    }

    h2 {
        font-family: 'Ailerons';
        font-size: 18px;

        @media screen and (min-width: $md) {
            font-size: 22px;
        }

        @media screen and (min-width: $md) {
            font-size: 32px;
        }

        @media screen and (min-width: $lg) {
            font-size: 15px;
        }
    }

    p {
        font-family: 'Roboto Slab';
        font-size: 12px;

        @media screen and (min-width: $md) {
            font-size: 22px;
        }

        @media screen and (min-width: $md) {
            font-size: 16px;
        }

        @media screen and (min-width: $lg) {
            font-size: 20px;
        }
    }

}