.tecnologias {
    background-color: #eee;

    .titulo-tecnologias {
        padding-top: 100px;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (min-width: $md) {
            margin-bottom: 100px;
        }

        h2 {
            font-family: 'Ailerons';
            font-size: 18px;


            @media screen and (min-width: $md) {
                font-size: 32px;
            }

            @media screen and (min-width: $lg) {
                font-size: 45px;
            }
        }

        p {
            font-family: 'Roboto Slab';
            font-size: 12px;

            @media screen and (min-width: $md) {
                font-size: 16px;
            }

            @media screen and (min-width: $lg) {
                font-size: 20px;
            }
        }
    }

    .owl-carousel {
        .card-item {
            &-header {
                img {
                    max-width: 100px;
                    height: auto;
                    margin: auto;
                    max-height: 140px;
                }
            }

            &-body {
                margin-top: 30px;

                .card-text {
                    font-size: 13px;
                }
            }

            &:hover {
                @media screen and (min-width: $lg) {
                    cursor: all-scroll;
                }
            }
        }
    }
}